<?php
/** @var Imoje\Paywall\Block\Checkout $block */

echo __('Please wait, in the next step you will choose a payment method.')
?>

<br/>
<br/>

<?= $block->renderForm() ?>

<script type="text/javascript">
	document.getElementById('submit-payment-form').click();
</script>
